page-complementares {
  .gridFormat {
    margin-top: 47px;
  }

  .rows {
    margin-top: 5%;
  }

  .click-block {
    display: none;
  }

  .toolbar-md {
    // padding: 4px;
    max-height: 50px;
  }

  .toolbar-ios {
    padding: 4px;
    max-height: 50px;
  }

  .imgSNS {
    margin-right: 10px;
  }

  .buttonMenu {
    background-color: #cbdbf2;
    font-family: "Raleway-Bold";
    color: #333333;
    font-weight: bold;
    font-size: 18;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #333333;
    border-right: 1px solid #333333;
    border-top: 1px solid #333333;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
  }

  .med {
    background-color: #567485;
    color: #ffffff;
    font-size: 20px;
    font-family: "Roboto-Medium";
    font-style: normal;
    width: 100%;
    height: 70px;
  }

  .listBackground {
    background-color: #567485;
    color: #ffffff;
    font-size: 21px;
    font-family: "Roboto-Medium";
    font-style: normal;
    line-height: 40px;
  }

  .exit {
    background-color: #567485;
    color: #ffffff;
    font-size: 20px;
    font-family: "Roboto-Medium";
    font-style: normal;
    width: 100%;
    line-height: 40px;
  }

  .bottom_bar {
    background-color: #d3dadf;
    position: fixed;
    bottom: 0vh;
    width: 100%;
    height: 20%;
  }

  .imgMed {
    margin-bottom: 4px;
    vertical-align: middle;
  }

  .item-md {
    margin: 9px 8px 30px 0;
  }

  .spanMed {
    line-height: 70px;
    margin-left: 10px;
    font-size: 15px;
    font-stretch: normal;
    font-family: "Raleway-Regular";
    font-style: normal;
  }

  .buttonLogOut {
    background-color: #cbdbf2;
    color: #333333;
    width: 30%;
    margin-left: 70%;
    font-family: "Raleway";
    font-size: 18;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #333333;
    border-right: 1px solid #333333;
    border-top: 1px solid #333333;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
  }

  .logo {
    width: auto;
    display: block;
    margin: 0 auto;
    height: auto;
  }

  .smSpacer {
    height: 20px;
  }

  .mdSpacer {
    height: 20px;
  }

  .bigSpacer {
    height: 36px;
  }

  .footerDesc {
    font-family: "Raleway-Italic";
    font-size: 100%;
    padding-left: 15px;
    color: white;
    text-align: center;
  }

  .toolbar-background {
    background-color: #d3dadf;
  }

  .borderheader {
    border-bottom: solid 3px;
    color: #999999;
  }

  .footer {
    background-color: #567485;
  }

  .whiteLine {
    border-top: solid 1px;
    color: rgba(255, 255, 255, 0.3);
  }
}

.ios{
  page-complementares{
    .imgSNS {
      margin-right: 8px;
    }
  }
}