page-sucesso-co-fetal {
  .buttonHome {
    background-color: #e6e6e6;
    width: 100%;
  }

  .greenBorder {
    border-bottom: solid 3px #7dc142;
    width: 99%;
  }

  .impressaoDocumentos {
    color: #567485;
    font-size: 18px;
    font-weight: bold;
  }

  .labelDescription {
    font-size: 20px;
    font-weight: bold;
  }
}
