page-consulta-co-normal-list {
  .bigSpacer {
    height: 50px;
  }

  .medSpacer {
    height: 30px;
  }

  .smSpacer {
    height: 20px;
  }

  .greenBorder {
    border-bottom: solid 3px #7dc142;
    width: 99%;
  }

  .buttonSave {
    background-color: #F2F2F2;
    margin-top: calc(100% - 50px);
  }

  .logoColumn {
    margin-top: 10%;
  }

  .iconStyle {
    font-weight: bolder;
    float: right;
    padding-top: 5px;
    font-size: 35px;
  }

  .inputSearchText {
    background-color: white;
    border-top: solid 2px #cccccc;
    border-bottom: solid 2px #cccccc;
    border-left: solid 2px #cccccc;
    border-right: solid 2px #cccccc;
  }

  .backgroundSearchInput {
    background-color: #f6f6f6;
  }

  .labelIntroduction {
    font-weight: bold;
    font-size: 15px;
  }

  .buttonSearch {
    background-color: #cbdbf2;
    color: #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #333333;
    border-right: 1px solid #333333;
    border-top: 1px solid #333333;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    width: 98%;
  }
}
