page-consulta-complementar-co-fetal {
  .smSpacer {
    height: 20px;
  }

  .listError {
    background-color: #d1372f;
    color: white;
    padding-top: 1px;
  }

  .inputSearchText {
    background-color: white;
    border-top: solid 2px #cccccc;
    border-bottom: solid 2px #cccccc;
    border-left: solid 2px #cccccc;
    border-right: solid 2px #cccccc;
  }

  .labelIntroduction {
    font-weight: bold;
    font-size: 15px;
  }
}
